html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
}


.app__container {
  box-sizing: border-box;
  height: 100%;
  padding: 16px;
}

.authSpinner__container {
  padding-top: 80px;
  text-align: center;
}

.authSpinner__spinner {
  display: inline-block;
  animation: auth-spinner infinite 20s linear;
  height: 80px;
}

@keyframes auth-spinner {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button {
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 8px;
  border-radius: 6px;
}
