.subdeckCards__container h4 {
  cursor: pointer;
}

.subdeckCards__container h4::before {
  display: inline-block;
  height: 12px;
  width: 12px;
  content: " ";
  background-image: url("/images/kisspng-arrow.jpg");
  background-size: contain;
  transform: rotate(0.25turn);
}
.subdeckCards__container--closed h4::before {
  transform: rotate(0turn);
}

.subdeckCards__listAndEnd {
  margin-left: 12px;
  border: solid 1px #000;
}

.subdeckCards__list {
  height: 100%;
  margin: 0;
}

.subdeckCards__list--cantDrop {
  background-color: #fcc;
}

.subdeckCards__endOfList {
  font-size: 80%;
  font-style: italic;
  padding-left: 0.5em;
}

.subdeckCards__endOfList--warning {
  background-color: #fcc;
}
