.faceDownDeck__container {
  position: relative;
  top: -30px;
}

.faceDownDeck__container--notMyTurn {
  cursor: not-allowed;
}

.faceDownDeck__cardBack {
  display: block;
  position: absolute;
  width: 80px;
}
