.gameStatus__container {
  position: absolute;
}

.gameStatus__scoreAndDeck {
  text-align: left;
  margin: 0;
  font-size: 24px;
}

.gameStatus__hoveringContainer {
  z-index: 12;
}

.gameStatus__turnStatus {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  border-radius: 7px;
}
.gameStatus__turnStatus--flash {
  color: #000;
  background-color: #fdd;
}
.gameStatus__turnStatusMarker {
  position: relative;
  font-size: 38px;
  top: 4px;
}

.gameStatus__lastPlay {
  font-weight: lighter;
}
