/* common stuff is a "level up" in DeckEditor.css */

.deckContent__container h3 {
  margin-top: 6px;
  margin-bottom: 0;
}

.deckContent__container h4 {
  margin-top: 6px;
  margin-bottom: 0;
  margin-left: 6px;
}
