.deckSelector__selection > *, .deckSelector__add > * {
  display: inline-block;
}

.deckSelector__newNameLabel {
  margin-right: 4px;
}

.deckSelector__selection .button, .deckSelector__add .button {
  margin-left: 30px;
}

.deckSelector__placeholderText {
  font-size: 24px;
}

.deckSelector__add input[type=text] {
  font-size: 14px;
  width: 240px;
}

.deckSelector__cancel {
  display: inline-block;
  margin-left: 10px;
}

.deckSelector__add .deckGenerate__container {
  display: block;
  clear: left;
  margin-left: 20px;
}

.deckSelector__add .deckGenerate__generateRadio {
  display: block;
}

.deckGenerate__options {
  margin-left: 40px;
}

.deckGenerate__option {
  display: block;
}
