.availableCards__container {
  width: 28%;
  float: left;
  margin-left: 16px;
  background-color: #fff;
  color: #000;
}

.availableCards__scrollList {
  height: 100%;
  overflow-y: scroll;
  margin: 0;
  margin-top: 6px;
}

.availableCards__card {
  margin-left: -1em;
  list-style-type: none;
  cursor: pointer;
}

.availableCards__cardDetail {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 38%;
}
