.deckContent__container {
  width: 28%;
  float: left;
  border: solid 1px #fff;
  background-color: #fff;
  color: #000;
}

.deckContent__container h3 {
  margin-top: 6px;
  margin-bottom: 0;
}

.deckContent__container h4 {
  margin-top: 6px;
  margin-bottom: 0;
  margin-left: 6px;
}
