.subdeckCards__container {
  margin-left: 12px;
  border: solid 1px #000;
}

.subdeckCards__list {
  height: 100%;
  overflow-y: scroll;
  margin: 0;
}

.subdeckCards__endOfList {
  font-size: 80%;
  font-style: italic;
  padding-left: 0.5em;
}

.subdeckCards__endOfList--warning {
  background-color: #fcc;
}
